extends layout

block scripts 
  script(src='/js/chat.js')
  script(src='/js/resize.js')

block content
  #messageApp(ng-controller='ChatCtrl')
    // Messages Displayed
    aside.photos
    #messageContainer
      #messages
        .message(ng-repeat='message in messages')
          .rating(class="{{message.rating}}")
            .plus(ng-click='message.rating="plus"')
            .minus(ng-click='message.rating="minus"')
          span.author {{ message.author }}:
          span.content {{ message.content }}
      // New Message Form
      form(ng-submit='sendMessage()')
        input(ng-model="messageContent")
        button(type='submit') Send

      .progress
        .info
      
    aside.unlocks
      .interest(ng-repeat='interest in interests')
        div.title(slide-toggle=".expand_{{interest.$$hashKey}}") {{ interest.title }}
        .slideable(class='expand_{{interest.$$hashKey}}', easing="eaes-in-out",duration=".40s")
          ul(ng-repeat='item in interest.items')
            li {{ item }}


