extends layout

block scripts 
  script(src='/js/chat.js')
  script(src='/js/resize.js')

block content
  .angularContainer(ng-app="Chat")
    #messageApp(ng-controller='ChatCtrl')
      aside.unlocks
        h1 Interests
        .interest(ng-repeat='interest in interests')
          div.title(slide-toggle=".expand_{{interest.$$hashKey}}") {{ interest.title }}
            span.arrow
          .slideable(class='expand_{{interest.$$hashKey}}', easing="eaes-in-out",duration=".40s")
            ul
              li(ng-repeat='item in interest.items') {{ item }}


      // Messages Displayed
      #messageContainer
        #messages
          .notification-bar 
            ul
              li#alert(ng-repeat='notification in notifications')
               .alert(ng-click='remove(notification, $index)') {{ notification.text }}
          .message(ng-repeat='message in messages')
            .rating(class="{{message.rating}}")
              .plus(ng-click='message.rating="plus"')
              .minus(ng-click='message.rating="minus"')
            span.author {{ message.author }}:
            span.content {{ message.content }}
        // New Message Form
        form(ng-submit='sendMessage()')
          input(ng-model="messageContent", placeholder="Send a message")

        .progress
          .profile.photo
          .photo1.photo
          .photo2.photo
          .photo3.photo

      aside.photos
        .level.ten 10
          span.arrow
        .level.nine 9
          span.arrow
        .level.eight 8
          span.arrow
        .level.seven 7
          span.arrow
        .level.six 6
          span.arrow
        .level.five 5 
          span.arrow
        .level.four 4
          span.arrow
        .level.three 3
          span.arrow
        .level.two 2
          span.arrow
        .level.one 1
          span.arrow
        .level.zero.active 0
          span.arrow



