extends layout

block scripts
  script(src='https://code.jquery.com/jquery-1.11.0.min.js')
  script(src='https://cdn.firebase.com/js/client/1.0.11/firebase.js')
  script(src='https://cdn.firebase.com/js/simple-login/1.3.2/firebase-simple-login.js')
  script(src="https://cdn.goinstant.net/v1/platform.min.js")
  div(id="fb-root")
    script(src='/js/FBLogin.js')

block content
  h1= title
  p Welcome to #{title}
  button(id="FacebookLogin", data-action="bae").
    Facebook Login
  button(id="FacebookLogout", data-action="bae").
    Facebook Logout

  