extends layout

block scripts
  script(src='https://cdn.goinstant.net/v1/platform.min.js')
  script(src='/js/FBLogin.js')

block content
  h1= title
  p Welcome to #{title}
  button(id="FacebookLogin", data-action="bae").
    Facebook Login
  div(id="signInLink")
  