extends layout

block scripts
  script(src="/js/livematch.js")
  script(src='js/FBLogin.js')

block content
  h1 Currently looking for match
  h1 You will be redirected when match is found.
  .match(ng-app="Match", ng-controller="MatchCtrl")
