@import "bourbon/bourbon";
@import "bitters/bitters";
@import "neat/neat";

@import url(http://fonts.googleapis.com/css?family=Roboto:100,300);

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;

  @include background-image(url("/img/a.png"), linear-gradient(white 0, yellow 50%, transparent 50%));
}

h1 {
  text-align: center;
}

#messageApp {
  @include outer-container;
}

.photos {
  @include span-columns(1);
  border: 1px solid #333;
  @include omega();
}

#messageContainer {
  @include span-columns(8);
  @include omega();
}

.unlocks {
  @include span-columns(3);
  border: 1px solid #333;
  @include omega();
}

#messages {
  border: 1px solid #333;
  overflow: auto;
}

.progress {
  height: 150px;
  border: 1px solid #333;
}

input {
  width: 90%;
  display: inline;
  padding: 0px;
}

button {
  width: 9%;
  border: 0px;
  height: 20px;
  font-size: 8px;
  padding: 0px;
  margin: 0px;
  display: inline;
}

.rating {
  margin: 0px 10px 0px 10px;
  height: 18px;
  width: 40px;
  position: relative;
  top: 2px;
  .plus, .minus {
    height: 15px;
    width: 18px;
    display: inline-block;
    cursor: pointer;
  }
  .plus {
    background-color: green;
  }
  .minus {
    background-color: red;
  }
  display: inline-block;
}


.plus {
  background-color: green;
}
.minus {
  background-color: red;
}
.author {
  padding-right: 8px;
}

.interest {
  .title {
    margin: 5px;
    font-size: 1.8em;
    cursor: pointer;
  }
  .slideable {
    li {
      margin: 0px 5px;
    }
  }
}

header {
  @include outer-container;
  height: 30px;
  background-color: black;
  color: white;
  .titleContainer {
    @include span-columns(10);
  }
  .title {
    text-align: center;
  }
  .logout {
    @include span-columns(1);
  }
}

